services:
  pciconcursos-service:
    build: 
      context:
        ./pciconcursos-service/
      args:
        WWWUSER: ${WWWUSER:-1000}
        WWWGROUP: ${WWWGROUP:-1000}
    command: python /app/src/pciconcursos_service/app.py --reload
    volumes:
      - ./pciconcursos-service/src:/app/src:z
    ports:
      - 3000:3000
    env_file: ./pciconcursos-service/.env
    depends_on:
      - db
  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"

volumes:
  postgres_data:

